.fighting {
    background-color: #BC5442;
}

.psychic {
    background-color: #F85888;
}

.poison {
    background-color: #A552CC;
}

.dragon {
    background-color: #7038F8;
}

.ghost {
    background-color: #705898;
}

.dark {
    background-color: #705848;
}

.ground {
    background-color: #E0C068;
}

.fire {
    background-color: #F08030;
}

.fairy {
    background-color: #D685AD;
}

.water {
    background-color: #6890F0;
}

.flying {
    background-color: #A98FF3;
}

.normal {
    background-color: #A8A878;
}

.rock {
    background-color: #BAAB82;
}

.electric {
    background-color: #F8D030;
}

.bug {
    background-color: #A8B820;
}

.grass {
    background-color: #9bcc50;
}

.ice {
    background-color: #98D8D8;
}

.steel {
    background-color: #B8B8D0;
}